@import 'colors.scss';

.button-order {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: $background-icons-color;
    border-radius: 100px;
    width: 119px;
    height: 32px;
    gap: 17px;
}

.button-order__text {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: $background-color-white;
    line-height: 24px;
    font-weight: bold;
}