/* Для 1120px и выше */
@import 'colors';

.button-read-more {
    display: flex;
    gap: 8px;
    width: max-content;
    align-items: center;
}

.button-read-more__text {
    color: $text-color;
    font-weight: medium;
    font-size: 16px;
}

.container-types__button, .container-brands__button {
    @media (max-width: 767.9px) {
        display: none;
    }
}