/* Для 1120px и выше */
@import 'colors';

.button-read-more {
    background-color: inherit;
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    gap: 8px;
    width: max-content;
    align-items: center;
}

.button-read-more__text {
    color: $text-color;
    font-weight: medium;
    font-size: 16px;
}