$background-color: #F8F8F8;
$background-color-white: #FFFFFF;
$background-icons-color: #FF3E79;
$highlight-color: #41F6D7;
$border-menu-color: #B8FFEC;
$line-color: #D9FFF5;
$border-items-color: #EAEAEA;
$title-color: #7E7E82;
$text-color: #1B1C21;
$background-header-post: linear-gradient(to right, #F8F8F8, #FFFFFF);