@import 'colors.scss';

.container {
    opacity: 1;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    @media (min-width: 1120px) {
        max-width: 1120px;
        margin: auto;
        padding: 42px 32px 0;

        .header {
            display: none;
        }
    }
}