.content {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        gap: 24px;
        padding-bottom: 24px;
    }

    @media (min-width: 768.1px) and (max-width: 1119.9px) {
        justify-content: space-around;
        gap: 32px;
        padding-bottom: 40px;
    }

    @media (min-width: 1120px) {
        gap: 50px;
        padding-bottom: 50px;
    }

}

.content__top {

    display: flex;
    align-items: center;


    @media (max-width: 1119.9px) {
        padding-top: 24px;
    }

    @media (min-width: 1120px) {
        max-width: 1096px;
        display: flex;
        justify-content: space-between;
    }
}
