@font-face {
    font-family: "TT_Lakes";
    src: url('../fonts/TTLakes-Regular.woff') format("woff"),
        url('../fonts/TTLakes-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TT_Lakes";
    src: url('../fonts/TTLakes-Bold.woff') format("woff"),
        url('../fonts/TTLakes-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "TT_Lakes";
    src: url('../fonts/TTLakes-Italic.woff') format("woff"),
        url('../fonts/TTLakes-Italic.ttf') format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "TT_Lakes";
    src: url('../fonts/TTLakes-BoldItalic.woff') format("woff"),
        url('../fonts/TTLakes-BoldItalic.ttf') format("truetype");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "TT_Lakes";
    src: url('../fonts/TTLakes-Medium.woff') format("woff"),
        url('../fonts/TTLakes-Medium.ttf') format("truetype");
    font-weight: medium;
}