@import 'colors.scss';

.link {

    &:hover {
        opacity: 0.5;
        transition: 0.3s;
    }

    &.button-read-more:hover, &.read-more:hover {
        opacity: 1;
    }
};

.container-prices__offer .button-read-more:hover {
    opacity: 0.5;
    transition: 0.3s;
};