@import 'colors.scss';

.link-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.2px;
    color: $text-color;
    font-weight: medium;
  }

.read-more.link-text {
  width: max-content;
}