@import 'colors.scss';

.popup {
    position: absolute;
    right: 0;
    top: -900px;
    z-index: 2;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    max-width: 440px;
    padding: 40px 32px 75px;
    background-color: $background-color-white;
    gap: 24px;
    @media (min-width: 1120px) {
        max-height: 940px;
        height: 94vh;
      }

    @media (min-width: 768px) {
        box-shadow: -16px 0px 52px rgba(14, 24, 80, 0.2);
        max-height: 676px;
    }

    .title::before {
        margin-left: -32px;
    }
}

.feedback--call {
    @media (min-width: 768px) {
        height: 94vh;
    }
}

.popup__icon {
    @media (min-width: 1120px) {
        position: absolute;
        left: -72px;
        top: 32px;
    }
}

.popup--open {
    position: fixed;
    top: 0;
    opacity: 1;
    transition: 0.5s;
}

.popup__text {
    padding: 0;
    margin: 0;
    color: #7E7E82;
    font-size: 14px;
    line-height: 16px;
}

.popup__link {
    text-decoration: none;
    color: #FF3E79;
    opacity: 1;
    transition: 0.3s;
}

.popup__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.popup__item {
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 16px;
    opacity: 1;
    transition: 0.3s;
}


input::placeholder, textarea::placeholder {
    color: #B5B6BC;
}

.popup__input {
    height: 48px;
}

.popup__textarea {
    height: 118px;
    resize: none;
    padding-top: 12px;
    padding-bottom: 12px;
}

.popup__button-submit {
    align-self: flex-end;
}

