@import 'colors';

.read-more {
    display: flex;
    gap: 8px;
    color: $text-color;
    font-size: 16px;
    font-weight: 650;


    @media (min-width: 1120px) {
        .read-more {
            margin-top: 14px;
        }
    }
}