

@media (max-width: 767.9px) {
  
  .swiper-pagination-bullet {
    background-color: #B5B6BC;
  }
  
  .swiper-container {
    position: relative;
    width: 90%;
  }

  .container-brands .swiper-container {
      height: 120px;  
  }

  .container-brands .swiper-pagination {
    top: 90px;
  }



  .container-types .swiper-container {
    height: 208px;
  }

  .container-types .swiper-pagination {
    top: 178px;
  }




  .container-prices .swiper-container {
    height: 248px;
  }

  .container-prices .swiper-pagination {
    top: 218px;
  }
}

.swiper-slide:hover {
  @media (max-width: 767.9px) {
    box-shadow: 10px 5px 10px rgba(14, 24, 80, 0.2);
    transition: 0.3s;
  }
  @media (min-width: 768px) {
    opacity: 0.5;
    transition: 0.3s;
  }
}
